<p>
	A mentor has responded to your request. Please log into
	<a href="http://production.jf43kfp5vf.us-east-1.elasticbeanstalk.com/">
		RedChairPGH Mentor Site
	</a>
	and select CHECK NEW REQUESTS to view their profile. If you would 
	like to connect, please connect with the mentor on LinkedIn. 
	All mentoring is conducted outside of the RedChairPGH site. 
</p>

<p>
	If you want to stop receiving mentor requests, log into your
	account and select the PAUSE in CHECK NEW REQUESTS. You can resume at any time.
</p>

<p>
	Please remember to adhere to the Terms and Conditions when using the site.
</p>
