<p>
	A mentee who matches your profile has requested contact.
	Please log into 
	<a href="http://production.jf43kfp5vf.us-east-1.elasticbeanstalk.com/">
		RedChairPGH Mentor Site
	</a>
	and select CHECK NEW REQUESTS to view their profile. Select the
	CONNECT button if you would like to connect. The mentee will be
	sent a notification instructing them to connect with you on
	LinkedIn. If you choose to provide mentoring, you do that outside
	of the RedChairPGH site. 
</p>

<p>
	If you want to stop receiving mentee requests, log into your account
	and select the PAUSE in CHECK NEW REQUESTS. You can resume at any time.
</p>

<p>
	Please remember to adhere to the Terms and Conditions when using the site.
</p>
