<p>Your mentorship with <%= @mentee[:first_name] + @mentee[:last_name] %> has started!</p>
<p>Please remember to adhere to the code of conduct in your communication with <%= @mentee[:first_name] %>!</p>
