<p>Your mentorship with <%= @mentor[:first_name] + @mentor[:last_name] %> has started!</p>
<p>Please remember to adhere to the code of conduct in your communication with <%= @mentor[:first_name] %>!</p>
