
<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
		  <span class="card-title">
			  <em>Terms and Conditions of Membership:</em>
			  <em>Legal Notice and Privacy policy </em>
		  </span>

		  <br/>

		  <b>LEGAL NOTICE</b>
		  <br /><br />

		  <p>New members must read and accept terms and conditions of membership in order to join.</p>
		  <br />

		  <p>You must be an adult 18 years or older to join this site as a member.</p>
		  <br />

		  <p>
			  By joining RedChairMentor.org as a member you hereby give us the right to inform you,
			  by email, of any website functionality and milestone updates.  If you do not consent 
			  to these updates, please do not sign up as a member. These are not frequent email
			  notifications or marketing emails.
		  </p>
		  <br />

		  <p>
			  By accessing the RedChairMentor.org website you hereby acknowledge
			  that you have read and understand the legal notice section of this 
			  website and you agree to be bound by the provisions herein.
		  </p>
		  <br />

		  <p>
			  By accessing this site and joining as a member you acknowledge that 
			  you are an adult representing yourself.
		  </p>
		  <br />

		  <b>Intellectual Property Policy </b>
		  <br />

		  <p>
			  Any third party use of our intellectual property, whether in the form of
			  literary or artistic proposal, or as a component of a product, is strictly prohibited.
		  </p>
		  <br />

		  <b>Copyright </b>
		  <br />

		  <p>
			  RedChairMentor.org site design, text, graphics, content, selection and arrangement,
			  copyright © 2019, RedChairPGH.org. All rights reserved. Any use of the information or
			  materials on this sight is strictly prohibited.
		  </p>
		  <br />

		  <b>Disclaimer </b>
		  <br />

		  <p>
			  RedChairMentor.org and RedChairPGH.org do not guarantee the authenticity of any member.
			  It is the responsibility of each individual member to verify the authenticity of other
			  members they contact.
		  </p>
		  <br />

		  <p>
			  RedChairMentor.org and RedChairPGH.org, nor any directors or agents shall be liable for
			  any damages, whether compensatory, direct, indirect, incidental, special, or consequential,
			  arising out of or in connection with the use or non-use of the RedChairMentor.org site
			  or the information thereon.
		  </p>
		  <br />

		  <p>
			  The laws of the state of Pennsylvania will govern all terms, conditions, and disclaimers on
			  this site, without giving effect to any principles of conflicts of laws.
		  </p>
		  <br />

		  <b>PRIVACY POLICY </b>
		  <br /><br />

		  <p>
			  This privacy document tells you what information RedChairMentor.org collects from visitors to
			  our website. It also tells you what we do with that information. Our objective is to keep our
			  visitors and third parties information, completely private and secure. We do not sell our database
			  information to third parties.
		  </p>
		  <br />

		  <i>Information Collection and Use </i>
		  <br />

		  <p>
			  RedChairPGH.org is the sole owner of the information collected on this site. We will not sell,
			  share, or rent this information. RedChairPGH.org collects information from members and customers at
			  several different points of our website.
		  </p>
		  <br />

		  <i>Registration </i>
		  <br />

		  <p>
			  In order to use this website, a visitor must first complete the registration form and become a member.
			  During registration the visitor is required to give their contact information
			  (such as name and email address). This information is used to contact the member about the
			  services at our site, for which they have expressed interest. 
		  </p>
		  <br />

		  <i>Mentor/Mentee Forms </i>
		  <br />

		  <p>We request information from members to match then with other members on the site.   </p>
		  <br />

		  <i>Security </i>
		  <br />

		  <p>
			  This website takes every precaution to protect our members information. When you submit
			  sensitive information via the website, your information is protected both online and
			  off-line via 
			  <a href="https://aws.amazon.com/security/">aws.amazon.com/security</a>.
			  All of the members information is
			  restricted in our offices. Only administrators who need the information to perform
			  support are granted access.
		  </p>
		  <br />

		  <i>Updating/Deleting Personal Information: </i>
		  <br />

		  <p>
			  If a members personally information changes, or if a member no longer desires our service,
			  we provide a way to correct, update or delete the user’s data. This can be done at the
			  member account page.
		  </p>
      </div>
    </div>
  </div>
</div>
